# GCP Configuration
export PROJECT_ID="your-gcp-project-id"
export REGION="us-central1"

# AlloyDB Configuration
export CLUSTER_NAME="your-alloydb-cluster"
export INSTANCE_NAME="your-primary-instance"
export ALLOYDB_PUBLIC_IP="x.x.x.x"
export DATABASE_NAME="postgres"
export DB_USER="postgres"
export DB_PASSWORD="your-db-password"

# Cloud Run Configuration
export SERVICE_NAME="legal-case-toolbox"
export SERVICE_ACCOUNT="toolbox-identity@your-gcp-project-id.iam.gserviceaccount.com"
export IMAGE=us-central1-docker.pkg.dev/database-toolbox/toolbox/toolbox:latest
